.vcodewrap {
    width: 120px;
    overflow: hidden;
    font-size: 8px;
    height: 50px;
    text-align: center;
    position: relative;
    margin-top:-12px;
}

.mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0,0,0,0.95) ;
    opacity: 0.8;
    line-height: 25px;
    color: white;
    z-index: 1;
}
.itemStr {
    float: left;
    margin-left: 5px;
}
#bgi {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}